@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body{
  background-color:hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 345px;
  height: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px;
  border: 1px solid black;
}
img{
  border-radius: 10px;
}

.main-image {
  width:100%;
  margin: auto;
}

p {
  font-size: 16px;
}

.tag {
  width: min-content;
  background-color:hsl(47, 88%, 63%) ;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 13px;
  
}

.published {
  font-size:small;
  font-weight: 600;
}

.card-content{
  font-weight: 500;
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.2rem;
}
.heading{
  font-weight: 800;
  font-size: 22px;
  
}
.authorSection{
  display: flex;
  align-items: center;
  gap:10px;;
}

.author-icon{
  height: 35px;
  width: 35px;
}

.author-name{
  font-weight: 800;
  font-size: 14px;
}